HELP.md
/.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
rest-server/.apt_generated
rest-server/.classpath
rest-server/.factorypath
rest-server/.project
rest-server/.settings
rest-server/.springBeans
rest-server/.sts4-cache
rest-server/bin/
rest-server/!**/src/main/**/bin/
rest-server/!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
